html,
body,
#app,
#place_holder_main,
#place_holder_panel,
.container,
#main_content,
#left_content,
#container_panel #menu {
    min-height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #777;
}

th, td {
    text-align: center;
}

a, a:hover, a:link, a:active, a:visited {
    text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.messages {
    text-align: left;
}

#container_login #caption {
    margin-top: 50px;
    text-align: center;
}

#container_login #login_form {
    width: 350px;
    margin: 50px auto;
    background-color: #F7F7F7;
    padding: 25px;
}

#container_login #login_form #button_login {
    width: 100%;
}

#left_content {
    background-color: #F7F7F7;
    padding: 0;
}

#container_panel #menu {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

#container_panel #menu .menu_item {
    display: block;
    border-bottom: 1px solid #e7e7e7;
}

#container_panel #menu .menu_item a {
    display: block;
    padding: 10px 15px;
}

#container_panel #menu .menu_item.active a {
    background-color: #eeeeee;
}

#container_home #functions .function {
    width: 150px;
    height: 150px;
    font-size: 50px;
    text-align: center;
    display: inline-table;
    position: relative;
    padding: 5px;
}

#container_home #functions .function .btn {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#container_home #functions .function .function_icon {
    font-size: 50px;
}

#container_home #functions .function .function_name {
    font-size: 30px;
}

#container_home #functions .function a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#container_home #content,
#container_staff #content,
#container_users #content {
    padding: 10px 0;
}

#container_staff #table_staff,
#container_users #table_users {
    margin-top: 10px;
}

#container_staff #search {
    margin-top: 10px;
}

#container_staff #search input {
    width: 250px;
    display: inline-block;
    vertical-align: top;
}

#container_staff .address {
    color: #0275d8;
    text-decoration: none;
    cursor: pointer;
}