<div id="container_home" class="container">
    <div id="content">
        <div id="welcome">
            <h5>Welcome <span class="username"><b>{{ currentUser.USERNAME }},</b></span></h5>
        </div>
        <div id="panel_type">
            <h6>{{ currentUser.ROLE == 'Admin' ? 'Administrator' : 'User' }} Panel</h6>
        </div>
        <div id="functions" class="row">
            <div class="function">
                <div class="btn btn-primary">
                    <div class="function_icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                    <div class="function_name">Staff</div>
                    <a ui-sref="panel.staff"></a>
                </div>
            </div>
            <div class="function">
                <div class="btn btn-primary">
                    <div class="function_icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                    <div class="function_name">Users</div>
                    <a ui-sref="panel.users"></a>
                </div>
            </div>
        </div>
    </div>
</div>