<div id="container_login" class="container">
    <div id="caption">
        <h5>SIT780 - Enterprise Applications Development</h5>
        <h6>Assignment 2</h6>
        <h6>By Chanh Dao Le (SID: 217183847)</h6>
    </div>
    <form name="login_form" method="post" id="login_form" class="card" ng-submit="logIn()" novalidate>
        <div class="messages" ng-if="updateResult != null">
            <div class="alert" ng-class="updateResult.errors ? 'alert-danger' : 'alert-success'">
                <div class="error_username">
                    <div ng-repeat="msg in updateResult.errors.username" class="msg">
                        {{ msg }}
                    </div>
                </div>
                <div class="error_password">
                    <div ng-repeat="msg in updateResult.errors.password" class="msg">
                        {{ msg }}
                    </div>
                </div>
                <div class="error_captcha">
                    <div ng-repeat="msg in updateResult.errors.captcha" class="msg">
                        {{ msg }}
                    </div>
                </div>
                <div class="error_custom">
                    <div ng-repeat="msg in updateResult.errors.custom" class="msg">
                        {{ msg }}
                    </div>
                </div>
            </div>
        </div>
        <div class="inputs">
            <div class="form-group">
                <input type="text" name="username" id="username" class="form-control" placeholder="Username" ng-model="login.username" required ng-maxlength="20"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="login.password" required ng-maxlength="20"/>
            </div>
            <div class="form-group">
                <img ng-src="{{ window.baseURL }}public/images/captcha/{{ captcha.filename }}"/>
                <button type="button" class="btn btn-info" ng-click="changeCaptcha()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </div>
            <div class="form-group">
                <input type="text" name="captcha" id="captcha" class="form-control" placeholder="Captcha" ng-model="login.captcha" required ng-maxlength="7"/>
            </div>
            <div>
                <button type="submit" id="button_login" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
</div>