<div id="container_panel" class="container">
    <div id="main_content" class="row">
        <div id="left_content" class="col-sm-3 col-md-3 col-lg-3">
            <ul id="menu">
                <li class="menu_item" ui-sref-active="active">
                    <a ui-sref="panel.home"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="menu_item" ui-sref-active="active">
                    <a ui-sref="panel.staff"><i class="fa fa-users" aria-hidden="true"></i> Staff</a>
                </li>
                <li class="menu_item" ui-sref-active="active" ng-if="currentUser.ROLE == 'Admin'">
                    <a ui-sref="panel.users"><i class="fa fa-users" aria-hidden="true"></i> Users</a>
                </li>
                <li class="menu_item" ui-sref-active="active">
                    <a ui-sref="panel.logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div id="place_holder_panel" ui-view></div>
        </div>
    </div>
</div>
