<div id="container_staff" class="container">
    <div id="content">
        <h5>Staff Management</h5>
        <div id="list_staff">
            <div id="action" ng-if="currentUser.ROLE == 'Admin'">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add_staff" ng-click="prepareToAddNewStaff()"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
            </div>
            <div id="search">
                <input type="text" id="input_search" class="form-control" placeholder="Surname or given name" ng-model="searchValue"/>
                <button type="button" class="btn btn-primary" ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <table id="table_staff" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Surname</th>
                        <th>Given name</th>
                        <th>Address</th>
                        <th ng-if="currentUser.ROLE == 'Admin'">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in staff">
                        <td>{{ employee.staff_id }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.surname }}</td>
                        <td>{{ employee.given_name }}</td>
                        <td><a class="address" ng-click="showStaffAddressOnMap(employee)">{{ employee.address }}</a></td>
                        <td ng-if="currentUser.ROLE == 'Admin'">
                            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal_delete_staff" ng-click="prepareToDeleteStaff(employee)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="mapSection" style="width: 300px;height: 300px;opacity: {{ staffToShowAddressOnMap == null ? 0 : 1 }};">
                <div id="map" style="width: 100%;height: 100%;"></div>
            </div>
        </div>
        <div id="modal_add_staff" class="modal fade" role="dialog" aria-labelledby="modal_label_add_staff" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_label_add_staff">Add staff</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="messages" ng-if="updateResult != null">
                            <div class="alert" ng-class="updateResult.errors ? 'alert-danger' : 'alert-success'">
                                <div class="error_email">
                                    <div ng-repeat="msg in updateResult.errors.email" class="msg">
                                        {{ msg }}
                                    </div>
                                </div>
                                <div class="error_surname">
                                    <div ng-repeat="msg in updateResult.errors.surname" class="msg">
                                        {{ msg }}
                                    </div>
                                </div>
                                <div class="error_given_name">
                                    <div ng-repeat="msg in updateResult.errors.given_name" class="msg">
                                        {{ msg }}
                                    </div>
                                </div>
                                <div class="error_address">
                                    <div ng-repeat="msg in updateResult.errors.address" class="msg">
                                        {{ msg }}
                                    </div>
                                </div>
                                <div class="error_custom">
                                    <div ng-repeat="msg in updateResult.errors.custom" class="msg">
                                        {{ msg }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inputs">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="input_email">Email</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" id="input_email" class="form-control" ng-model="newStaff.email"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="input_surname">Surname</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" id="input_surname" class="form-control" ng-model="newStaff.surname"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="input_given_name">Given name</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" id="input_given_name" class="form-control" ng-model="newStaff.given_name"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="input_address">Address</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" id="input_address" class="form-control" ng-model="newStaff.address"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="addStaff()">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal_delete_staff" class="modal fade" role="dialog" aria-labelledby="modal_label_delete_staff" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_label_delete_staff">Delete staff</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="messages" ng-if="updateResult != null">
                            <div class="alert" ng-class="updateResult.errors ? 'alert-danger' : 'alert-success'">
                                <div class="error_id">
                                    <div ng-repeat="msg in updateResult.errors.id" class="msg">
                                        {{ msg }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <span>Are you sure you want to delete {{ staffToDelete.given_name + ' ' + staffToDelete.surname }}</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" ng-click="deleteStaff()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>