<div id="container_users" class="container">
    <div id="content">
        <h5>Users Management</h5>
        <div id="list_users">
            <div id="action">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add_user" ng-click="prepareToAddNewUser()"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
            </div>
            <table id="table_users" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users">
                    <td>{{ user.ID }}</td>
                    <td>{{ user.USERNAME }}</td>
                    <td>{{ user.ROLE }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal_delete_user" ng-click="prepareToDeleteUser(user)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="modal_add_user" class="modal fade" role="dialog" aria-labelledby="modal_label_add_user" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_label_add_user">Add user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="messages" ng-if="updateResult != null">
                            <div class="alert" ng-class="updateResult.errors ? 'alert-danger' : 'alert-success'">
                                <div class="error_username">
                                    <div ng-repeat="msg in updateResult.errors.username" class="msg">
                                        {{ msg }}
                                    </div>
                                </div>
                                <div class="error_password">
                                    <div ng-repeat="msg in updateResult.errors.password" class="msg">
                                        {{ msg }}
                                    </div>
                                </div>
                                <div class="error_confirmation_password">
                                    <div ng-repeat="msg in updateResult.errors.confirmation_password" class="msg">
                                        {{ msg }}
                                    </div>
                                </div>
                                <div class="error_role">
                                    <div ng-repeat="msg in updateResult.errors.role" class="msg">
                                        {{ msg }}
                                    </div>
                                </div>
                                <div class="error_custom">
                                    <div ng-repeat="msg in updateResult.errors.custom" class="msg">
                                        {{ msg }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inputs">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="input_username">Username</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" id="input_username" class="form-control" ng-model="newUser.username"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="input_password">Password</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="password" id="input_password" class="form-control" ng-model="newUser.password"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="input_confirmation_password">Confirmation password</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="password" id="input_confirmation_password" class="form-control" ng-model="newUser.confirmation_password"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="input_role">Role</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <select id="input_role" class="form-control" ng-model="newUser.role">
                                            <option value="">Select</option>
                                            <option value="Admin">Admin</option>
                                            <option value="User">User</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="addUser()">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal_delete_user" class="modal fade" role="dialog" aria-labelledby="modal_label_delete_user" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_label_delete_user">Delete user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="messages" ng-if="updateResult != null">
                            <div class="alert" ng-class="updateResult.errors ? 'alert-danger' : 'alert-success'">
                                <div class="error_id">
                                    <div ng-repeat="msg in updateResult.errors.id" class="msg">
                                        {{ msg }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <span>Are you sure you want to delete {{ userToDelete.USERNAME }}</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" ng-click="deleteUser()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>